
    <div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2"> 
            <h2 class="featurette-heading">A.A.BAIKOV INSTITUTE OF METALLURGY AND MATERIALS SCIENCE</h2>
            <p class="lead">Web service for database on chemical elements properties</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://phase.imet-db.ru/images/imet2.gif" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>


