<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js Jump "></script>
<script>
    window.onload = function () {
        $('#loading-div-background').show();
        $('#header').hide();
        $.ajax({
        url: '/Properties/SetParams',
        dataType: 'html',
        success: function(data) {
             $('#loading-div-background').hide();
             $('#header').show();
        }})
    };
</script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElementsMVCApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElementsMVCApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div id="header" class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Elements Web Service</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Properties" asp-action="Mendel" asp-route-mode="1">
                                All properties of given element
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="Mendel" asp-route-mode="2">
                                Chosen properties of given element
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="PropsList" asp-route-mode="3">
                                Values of given property
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="PropsList" asp-route-mode="4">
                                Recomended values of given property
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="PropsList" asp-route-mode="5">
                                Query properties
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex my-2">
                        <a class="btn btn-outline-success" asp-controller="Properties" asp-action="Settings">Settings</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <div id="loading-div-background">
            <div id="loading-div" class="ui-corner-all">
                <div id="loadingbar"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                <h2 class="text-center">Please wait....</h2>
            </div>
        </div>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - ElementsMVCApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
