<div class="row form-group justify-content-center">
    <h2 class="text-center">Settings successfully changed.</h2>
    <div class="d-flex gap-5 justify-content-center mt-2">
        <div class="d-grid gap-2 col-4 mx-auto mt-3">
                <a asp-action="Index" class="btn btn-primary" type="button">Home</a>
        </div>
    </div>
</div>